<div class="container-fluid">
<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
<table>
<tr>
  <strong>Product(s):</strong>
</tr>
  <% @project.products.each do |product| %>
    <tr>
    <td><%= product.name %></td>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= image_tag @project.image.url, width: 500 %>
</p>

<p>
  <strong><%= link_to 'Edit Project', edit_project_path %></strong>
</p>

<p>
  <strong><%= link_to 'Back', projects_path %></strong>
</p>

</div>


