<div class="container-fluid">
<p>
  <h3 class='text-center'><%= @project.name %></h3>
</p>
 
<p>
  <h4 class='text-center'><%= @project.address %></h4>
</p>

<p>
<table>
<tr>
  <strong>Product(s):</strong>
</tr>
  <% @project.products.each do |product| %>
    <tr>
    <td><%= product.name %></td>
    </tr>
  <% end %>
</table>
</p>

<p align="center">
  <%= image_tag @project.image.url, width: 700 %>
</p>

<p>
  <strong><%= link_to 'Edit Project', edit_project_path %></strong>
</p>

</div>


