<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Product(s):</strong>
  <%= @project.product %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.thumbnail %>
</p>

<%= image_tag @project.image.url, width: 600 %><br>