<!DOCTYPE html>
<html>
<head>
  <title>InstalledProjectLocator</title>
  <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">Project Directory</div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
    </ul>
  </div>
</nav>


<%= yield %>

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
       <li><%= link_to 'New Project', projects_path %></li>
    </nav>
</div>

</body>
</html>
