<!DOCTYPE html>
<html>
<head>
  <title>InstalledProjectLocator</title>
  <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= projects_path %>">USG Ceilings Project Directory</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">All Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

            <li><a href="<%= projects_path %>">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'New Project', new_project_path %></li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Products', products_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

  
</body>
</html>
